{% extends '_base.html' %}
{% load blog_tags %}

{% block subscribe_form %}
    {% include 'blog/includes/subscribe_form.html' %}
{% endblock %}

{% block content %}
<div id="right-sidebar-article-list">
    <article class="article">
        <div class="article-text">
            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            <small>Published {{ post.publish|timesince }} ago - 8 comments</small>
            <p>{{ post.body|safe_html }}</p>
        </div>
    </article>
    <div id="similar-articles">
        <h4>Similar posts:</h4>
        <ul>
            {% for post in similar_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">
                        <div class="similar-article">
                            <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                            <p>{{ post.title }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
