{% extends '_base.html' %}
{% load blog_tags %}

{% block subscribe_form %}
    {% include 'blog/includes/subscribe_form.html' %}
{% endblock %}

{% block content %}
<div id="right-sidebar-article-list">
    <article class="article">
        <div class="article-text">
            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            <small>Published {{ post.publish|timesince }} ago - 8 comments</small>
            <p>{{ post.body|safe_html }}</p>
        </div>
    </article>
</div>
{% endblock %}
