{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div id="right-sidebar-article-list">
        {% for post in posts %}
            <article class="article">
                <div class="article-img">
                    <img src="{% static 'img/1.jpeg' %}" alt="">
                </div>
                <div class="article-text">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <small>Published {{ post.publish|timesince }} ago - 8 comments</small>
                    <p>{{ post.body|truncatewords:30|linebreaks }}</p>
                    <a href="{{ post.get_absolute_url }}">Read more</a>
                </div>
            </article>
        {% endfor %}
    </div>
    {% include 'blog/includes/pagination.html' with page=posts %}
{% endblock %}
