{% extends '_base.html' %}
{% load static %}
{% load blog_tags %}

{% block subscribe_form %}
    {% include 'blog/includes/subscribe_form.html' %}
{% endblock %}

{% block content %}
    <div id="right-sidebar-article-list">
        {% for post in posts %}
            <article class="article">
                <div class="article-img">
                    <img src="{% static 'img/1.jpeg' %}" alt="">
                </div>
                <div class="article-text">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <small>Published {{ post.publish|timesince }} ago - 8 comments</small>
                    <br style="margin-bottom: 1rem;">
                    <a href="{{ post.get_absolute_url }}">Read more <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </article>
        {% endfor %}
    </div>
    {% include 'blog/includes/pagination.html' with page=posts %}
{% endblock %}
